* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header-container {
  width: 100%;
  height: 80px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left-header {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.right-header {
  width: 22%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.search-logo {
  width: 20px;
}

.header-logo {
  width: 100px;
  height: 50px;
}

.header-logo:hover {
  cursor: pointer;
  opacity: 0.6;
}

.drop-button {
  border: none;
  background: none;
  color: grey;
  opacity: 1;
  font-weight: 600;
  font-size: 14px;
  padding: 20px 0;
  letter-spacing: 0.5px;
}

.drop-button:hover {
  cursor: pointer;
  color: black;
}

.signin-link {
  text-decoration: none;
  color: grey;
  opacity: 1;
  font-weight: 500;
  font-size: 15px;
}

.share-link {
  text-decoration: none;
  border-radius: 8px;
  background-color: #ea4c89;
  color: #fff;
  height: 20px;
  padding: 10px 15px;
  text-align: center;
  font-weight: 600;
  font-size: 15px;
}

.share-link:hover {
  opacity: 0.7;
}

/* dropdown */

.drop-down {
  float: left;
  /* overflow: hidden; */
}

.drop-content {
  position: absolute;
  width: 400px;
  background-color: #fff;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 20px 10px 20px;
  border-radius: 12px;
  box-shadow: 6px 0px 23px -5px rgba(0, 0, 0, 0.48);
  display: none;
}

.drop-down:hover .drop-content {
  display: flex;
}

.drop-links {
  text-decoration: none;
  padding: 15px 20px;
}

.list-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  line-height: 1.5;
}

.list-head {
  color: black;
  font-size: 16px;
  font-weight: 600;
}

h3::first-letter {
  font-size: 17px;
}

.list-description {
  color: gray;
  font-weight: lighter;
  font-size: 12px;
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 1;
}

.footer {
  margin: 30px 70px;
  padding-top: 20px;
  border-top: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.footer .shots-container {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.responsive-header {
  /* background-color: #f0015d; */
  background-color: #fff;
  height: 80px;
  position: fixed;
  z-index: 10;
  top: 0;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.header-outer {
  width: 90%;
}

.hamburger-menu {
  /* background-color: aqua; */
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 20px 20px;
}

.hamburger-menu:hover,
#close:hover {
  opacity: 0.4;
}

#close {
  display: none;
}

.sidenav {
  height: 0;
  width: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  /* transition: 0.5s; */
  padding-top: 60px;
  /* transition-property: top, bottom; */
  /* transition: 2s; */
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}

.sidenav a {
  padding: 10px 10px 10px 40px;
  text-decoration: none;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.925);
  display: block;
  transition: 0.3s;
  font-size: medium;
}

.sidenav a:hover {
  color: rgba(0, 0, 139, 0.468);
}

.closebtn {
  text-decoration: none;
  color: #0d0c22;
  position: absolute;
  top: 20px;
  left: -20px;
  /* margin-left: 80px; */
  font-size: 36px;
  margin-left: 50px;
}

.ham-logo {
  padding-left: 50px;
}

.header-outer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.res-main-logo {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.res-head-logo {
  width: 150px;
}

.res-signin-header {
  text-decoration: none;
  color: grey;
  opacity: 1;
  font-weight: 500;
  font-size: 15px;
  min-width: fit-content;
  /* margin-right: -50px; */
}

.hamburger-menu-container {
  display: flex;
  height: 20px;
}

.filter-container {
  /* background-color: #EA4C89; */
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
}

.drop-button-filter-one {
  border: none;
  background: none;
  color: grey;
  opacity: 1;
  font-weight: 600;
  font-size: 14px;
  padding: 20px 0;
  letter-spacing: 0.5px;
}

.drop-button-filter-one:hover {
  cursor: pointer;
  color: black;
}

.drop-down-filter-one {
  float: left;
  /* overflow: hidden; */
}

.drop-content-filter-one {
  position: absolute;
  width: 100px;
  background-color: #fff;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  /* box-shadow: 6px 0px 23px -5px rgba(0, 0, 0, 0.48); */
  display: none;
}

.drop-down-filter-one:hover .drop-content-filter-one {
  display: flex;
}

.drop-links-filter-one {
  text-decoration: none;
}

.list-content-filter-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  line-height: 1.5;
}

.list-description-filter-one {
  color: gray;
  font-weight: lighter;
  font-size: 12px;
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 1;
}

.right-filter a {
  text-decoration: none;
}

.label {
  background-color: #f3f3f4;
  border: 1px solid rgba(128, 128, 128, 0.4);
  padding: 10px;
  border-radius: 5px;
  color: black;
}

.left-filter .drop-down-filter-one button {
  background-color: white;
  width: 100px;
  height: 20px;
  line-height: 1px;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.4);
}

.label:hover {
  background-color: white;
  cursor: pointer;
}

#filter-option {
  margin: auto;
  /* background-color: navy; */
  height: 50px;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  margin-bottom: 20px;
  display: none;
}

.filter-options-container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  /* align-items: center; */
}

.filter-options-container div input[type="search"] {
  padding: 5px;
}

.filter-options-container div input {
  background-color: #f3f3f4;
  border-radius: 10px;
  border: none;
  height: 30px;
  width: 250px;
  outline: none;
}

.slides-container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
  align-items: center;
  margin-bottom: 50px;
  padding: 0 25px;
}

.parent-container {
  margin: 10px 20px;
  cursor: pointer;
  /* background-color: #EA4C89; */
  width: 30%;
  /* height: 300px; */
}

.image-container {
  width: 100%;
  height: 300px;
}

.image-container img {
  border-radius: 10px;
  width: 100%;
  height: 300px;
}

.details-container {
  /* background-color: blue; */
  padding: 0 10px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.reach-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.like-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.like-container svg path:hover {
  fill: rgb(255, 2, 44);
}

.views-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.svg-cont:hover {
  fill: red;
}

.no-result {
  display: flex;
  justify-content: center;
  align-items: center;
}

.na-image-container {
  height: 300px;
  width: 100%;
}

.na-image {
  height: 200px;
  width: 100%;
}

.no-result h3,
.no-result p {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}

.no-result h3 {
  margin-bottom: 10px;
  color: #0d0c22;
  font-size: 18px;
  font-weight: bold;
}

.no-result p {
  margin-bottom: 20px;
  padding: 0 20px;
  color: #6e6d7a;
  font-size: 14px;
  line-height: 1.5;
}

select {
  background-color: #f3f3f4;
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: black;
  outline: none;
}

@media screen and (max-width: 920px) {
  .header-container {
    display: none;
  }

  .responsive-header {
    display: block;
  }

  .top-container {
    height: 100vh;
  }

  .drop-down:hover .drop-content {
    display: none;
  }

  .drop-content {
    width: 100%;
    box-shadow: none;
    overflow-y: auto;
    position: static;
  }

  .sidenav {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .content-two {
    max-width: 400px;
  }

  .menu-bar-container {
    gap: 10px;
    justify-content: unset;
  }

  .content-container {
    gap: 0;
  }

  .trendy-search-container {
    width: 100%;
  }
}

@media screen and (min-width: 920px) {
  .responsive-header {
    display: none;
  }

  .sidenav {
    display: none;
  }
}

@media screen and (max-width: 392px) {
  .content-two {
    max-width: 200px;
  }

  .video {
    height: 100vh;
  }

  .menu-bar-container {
    display: none;
  }
}

/* @media screen and (max-width:308px) {
          
        } */

::-webkit-scrollbar {
  color: transparent;
  width: 1px;
}

/* Modal */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

/* Modal Content */
.modal-content {
  height: 95vh;
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s;
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

#edit-template {
  width: 120px;
  text-align: center;
  border-radius: 25px;
  border: none;
  padding: 10px 15px;
  background-color: #ea4c89;
  color: white;
  cursor: pointer;
  font-weight: lighter;
}

#edit-template:hover {
  opacity: 0.7;
}

@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*  */

.vp-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  width: 90%;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 50px;
}
/* 
#card-container-modal {
  margin: auto;
  width: 90%;
  max-height: 40%;
  border: 1px solid grey;
} */

h2,
h3 {
  color: darkred;
  font-family: "Petit Formal Script", cursive;
}

h2 {
  text-align: center;
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 18px;
  padding-left: 10px;
}

#card-container-modal {
  /* background-color: blue; */
  height: auto;
  width: 100%;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.text-container-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  min-height: 100%;
  width: 100%;
  word-wrap: break-word;
  line-height: 30px;
}

/* #card-title-modal {
  margin-bottom: 20px;
} */
#card-from-modal {
  margin-left: 300px;
  /* padding-right: 10px; */
}

/* .card-image-modal {
  height: 200px;
  width: 100%;
  margin: 0;
  float: right;
  object-fit: cover;
} */

#card-image-modal {
  /* background-color: aqua; */
  /* min-width: 40%; */
  width: 80%;
}